@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&family=Poppins:wght@400;500;600&family=Roboto+Slab:wght@400;900&display=swap");
// font-family: 'Inter', sans-serif;
// font-family: 'Poppins', sans-serif;
$allText: "Roboto Slab", serif;

body {
  font-family: $allText;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8); /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 2500px) {
    @content;
  }
}

.formContainer {
  background-color: rgb(7, 94, 84);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .logo {
      display: flex;
      color: rgb(18, 140, 126);
      font-weight: 900;
      font-size: 24px;
      justify-content: center;
    }
    .title {
      color: black;
      font-size: 18px;
      justify-content: center;
      display: flex;
      font-weight: 600;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      input {
        padding: 15px 0;
        border: none;
        border-bottom: 1px solid rgba(7, 94, 84, 0.6);
        width: 100%;
        &::placeholder {
          color: black;
        }
      }
      label {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px 0;

        span {
          padding-left: 0.5rem;
          font-size: small;
        }
      }

      button {
        background-color: rgb(0, 128, 0);
        color: white;
        cursor: pointer;
        padding: 10px;
        border: none;
        font-weight: bold;
        &:hover {
          background-color: rgba(0, 128, 0, 0.8);
        }
      }
    }
    p {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.home {
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    .sidebar {
      flex: 1;
      border-right: 1px solid white;
      background-color: rgba(0, 0, 0, 0.2);
      .search {
        border-bottom: 1px solid grey;
        background-color: rgba(0, 0, 0, 0.8);
      }
      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);

        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          font-size: 18px;
          font-weight: 600;
        }
        p {
          font-size: 14px;
          color: grey;
        }
      }
    }
    .chat {
      display: flex;
      flex-direction: column;
      flex: 2;
      height: 80%;

      .messages {
        padding: 10px;

        height: 62vh;
        overflow-y: scroll;
        overflow-x: hidden; /* Hide horizontal scroll bar */
        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 10px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: grey;
            font-size: 12px;
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
              padding: 10px 20px;
              border-radius: 0 10px 10px 10px;
              font-size: 14px;
              max-width: max-content;
            }
          }
          .chatimg {
            width: 50%;
          }
          &.owner {
            flex-direction: row-reverse;
            .messageContent {
              align-items: flex-end;
              p {
                background-color: rgba(7, 94, 84, 0.6);
                color: rgb(255, 255, 255);
                border-radius: 0 10px 10px 10px;
              }
            }
          }
          &.guest {
            flex-direction: row;
            .messageContent {
              align-items: flex-start;
              p {
                background-color: rgba(63, 63, 63, 0.8);
                color: rgb(255, 255, 255);
                border-radius: 0 10px 10px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        border: none;
        display: flex;
        align-items: center;

        margin-bottom: 1px;

        // justify-content: space-between;
      }
      input {
        width: 100%;
        outline: none;
        border: none;
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 19px;
        height: 50px;
        padding-left: 10px;
      }
      .send {
        display: flex;
        align-items: center;
      }
      .chatIcons {
        color: white;
      }
    }
  }
}
